<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Inscription
        </h1>
        <p class="text-white"><a href="index.html">Accueil</a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Inscription</a></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- start form -->
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-4">
      <%= image_tag('f1.jpg', class: 'img-fluid') %>
    </div>
    <div class="col-7">
          <h2>Inscription pour devenir un FreeDelivers</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="mt-10">
              <%= f.text_field :first_name, autocomplete: "Prénom", class: 'single-input', placeholder: 'Prénom',onfocus: "this.placeholder = ''",onblur: "this.placeholder = 'Prénom'" %>
            </div>

            <div class="mt-10">
              <%= f.text_field :last_name, autocomplete: "Nom", class: 'single-input', placeholder: 'Nom',onfocus: "this.placeholder = ''",onblur: "this.placeholder = 'Nom'" %>
            </div>

            <div class="mt-10">
              <%= f.email_field :email, autocomplete: "Email", class: 'single-input', placeholder: 'Email',onfocus: "this.placeholder = ''",onblur: "this.placeholder = 'Email'" %>
            </div>

            <div class="mt-10">
              <%= f.password_field :password, autocomplete: "new-password",class: 'single-input', placeholder: 'Mot de passe',onfocus: "this.placeholder = ''",onblur: "this.placeholder = 'Mot de passe'" %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br/>
            </div>

            <div class="mt-10">
              <%= f.password_field :password_confirmation, autocomplete: "new-password",class: 'single-input', placeholder: 'Confirmation du mot de passe',onfocus: "this.placeholder = ''",onblur: "this.placeholder = 'Confirmation du mot de passe'" %>
            </div>

            <div class="mt-10">
              <%= f.submit "Je m'inscris", class: 'genric-btn primary circle' %>
            </div>
          <% end %>
    </div>
  </div>
</div>
