<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          À propos de nous
        </h1>
          <p class="text-white"><%= link_to('Accueil', root_path)%>  <span class="lnr lnr-arrow-right"></span>  <%= link_to('À propos de nous', about_path)%></p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start service Area -->
<section class="service-area section-gap" id="service">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 pb-40 header-text">
        <h2>Pourquoi nous choisir</h2>
        <p>
          Votre portail libre pour trouvez vos futurs clients
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-user"></span>Trouvez des clients</h4>
          <p>
            Notre annuaire est libre et gratuit. Elle permet de mettre en relation des livreurs libre à des entreprises ou à des particuliers.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-license"></span>Votre fiche professionelle</h4>
          <p>
            En tant que Freedelivers une fiche personalisée sera visible avec vos conditions et vos coordonées.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-phone"></span>Vos coordonnées</h4>
          <p>
            Laissez librement vos coordonnées afin que vos futures clients puissent vous joindre et négociez vos conditions.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-rocket"></span>Lancez vous</h4>
          <p>
            Lancez vous grace au portail libre et gratuit Freedelivers. Soyez libre de vos tarifs et de votre temps.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-diamond"></span>Une communauté</h4>
          <p>
            Faite parti d'une communauté qui ferra grandir la popularité de notre annuaire, dont vous serez le diamand.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-service">
          <h4><span class="lnr lnr-bubble"></span> Echangez vos idées</h4>
          <p>
            Faites nous part de vos idées, l'equipe Freedelivers est à votre écoute pour améliorer votre experience sur notre portail.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service Area -->


<!-- Start team Area -->
<section class="team-area section-gap" id="team">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h2 class="mb-10">L'equipe Freedelivers</h2>
          <p>Une team à votre écoute</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex align-items-center">
      <div class="col-md-3 single-team">
          <div class="thumb">
              <%= image_tag('t1.jpg', class: 'img-fluid') %>
              <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
          </div>
          <div class="meta-text mt-30 text-center">
            <h4>Ethel Davis</h4>
            <p>Managing Director (Sales)</p>
          </div>
      </div>
      <div class="col-md-3 single-team">
          <div class="thumb">
              <%= image_tag('t2.jpg', class: 'img-fluid') %>
              <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
          </div>
          <div class="meta-text mt-30 text-center">
            <h4>Rodney Cooper</h4>
            <p>Creative Art Director (Project)</p>
          </div>
      </div>
      <div class="col-md-3 single-team">
          <div class="thumb">
              <%= image_tag('t3.jpg', class: 'img-fluid') %>
              <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
          </div>
          <div class="meta-text mt-30 text-center">
            <h4>Dora Walker</h4>
            <p>Senior Core Developer</p>
          </div>
      </div>
      <div class="col-md-3 single-team">
          <div class="thumb">
              <%= image_tag('t4.jpg', class: 'img-fluid') %>
              <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
          </div>
          <div class="meta-text mt-30 text-center">
            <h4>Lena Keller</h4>
            <p>Creative Content Developer</p>
          </div>
      </div>

    </div>
  </div>
</section>
<!-- End team Area -->


<!-- Start callto-action Area -->
<section class="callto-action-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content col-lg-9">
        <div class="title text-center">
          <h2 class="mb-10 text-white">Rejoignez nous sans hésitation</h2>
          <p class="text-white">Fixez vous même vos conditions avec vos clients. </p>
          <%= link_to('Oui, je veux être un Freedelivers', new_user_registration_path, class: "primary-btn")%>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End calto-action Area -->
