<!-- start banner Area -->
<section class="banner-area relative" id="home">
  <div class="overlay overlay-bg"></div>
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-12">
        <h1 class="text-white">
          <span>Freedelivers</span> votre portail de livreur libre
        </h1>
        <%= form_tag services_path, method: :get do %>
          <div class="row justify-content-center form-wrap">
            <div class="col-lg-10 form-cols">
              <%= text_field_tag 'term', params[:term], class: 'form-control', placeholder: "Dans quelle ville avez vous besoin d'un livreur ? " %>
            </div>

            <div class="col-lg-2 form-cols">
                 <%= submit_tag 'Recherche', class: 'btn btn-info' %>
            </div>
          </div>
        <% end %>
        <p class="text-white"> <span>Recherche par:</span> ville</p>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->

<!-- Start features Area -->
<section class="features-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <img src="https://png.icons8.com/nolan/64/000000/google-web-search.png">
          <h4>Cherchez</h4>
          <p>
            Trouvez un livreur grace à notre portail Freedelivers.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <img src="https://png.icons8.com/nolan/64/000000/phone.png">
          <h4>Contactez</h4>
          <p>
            Prenez contact avec le livreur de votre choix grace aux fiches individuelle.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <img src="https://png.icons8.com/nolan/64/000000/handshake.png">

          <h4>Négociez</h4>
          <p>
            Chaque livreur est libre de ces conditions tarifaire.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <img src="https://png.icons8.com/nolan/64/000000/leaderboard.png">
          <h4>Gagnez</h4>
          <p>
            Avec le portail Freedelivers ne perdez pas votre temps à livrer.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End features Area -->



<!-- Start feature-cat Area -->
<section class="feature-cat-area pt-100" id="category">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h2 class="mb-10">Le concept Freedelivers</h2>
          <p> Freedelivers est une plateforme de mise en relation gratuite entre particuliers et coursiers. Sur notre plateforme les coursiers peuvent  mettrent librement leur prestations sans passer par une compagnie de livraison.
          Aucune commission n'est prélevé par notre plateforme, le client et le coursier devront s'entendre eux mêmes sur le prix et les conditions de transports. Nous demandons à chacun des deux parties d'etre professionnelle.
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feature-cat Area -->
<!-- Start post Area -->
<section class="post-area section-gap">
  <div class="container">
    <div class="row justify-content-center d-flex">
      <div class="col-lg-10 post-list">
        <% @services.each do |service| %>

          <div class="single-post d-flex flex-row">
            <div class="thumb mr-4">
            <img src="https://png.icons8.com/nolan/96/000000/resume.png">
            </div>
            <div class="details ml-4">
              <div class="title d-flex flex-row justify-content-between">
                <div class="titles">
                  <a href="single.html"><h4><%= service.user.first_name %> <%= service.user.last_name %></h4></a>
                  <h6>Freedelivers</h6>
                </div>
                <ul class="btns">
                  <li><%= link_to 'Détails', service %></li>
                </ul>
              </div>

              <p class="address"><span class="lnr lnr-envelope"></span> <%= service.user.email %></p>
              <p class="address"><span class="lnr lnr-phone-handset"></span> +33 <%= service.user.mobile_phone %></p>

              <p class="address"><span class="lnr lnr-map-marker"></span> <%= service.delivery_city %></p>
              <p class="address">Conditions tarifaires: <%= service.price%>€ </p>
              <p class="address">Poids du colis: 0 kg - <%= service.weight_package %> kg </p>
              <p>
                La fiche complète du livreur est disponible grâce au bouton détails.
                Vous trouverez les informations supplémentaires qu'offrent le freedeliver.
              </p>
            </div>
          </div>
        <% end %>
        <div class="apple_pagination">
          <div class="paginate_center">
            <%= will_paginate @services %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Start callto-action Area -->
<section class="callto-action-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content col-lg-9">
        <div class="title text-center">
          <h2 class="mb-10 text-white">Rejoignez nous sans hésitation</h2>
          <p class="text-white">Le portail Freedelivers est gratuit et vous permet d'être mis en relation avec vos clients sans coût cacher. Fixez-vous même vos conditions avec vos clients.</p>
          <%= link_to('Oui, je veux être un Freedelivers', new_user_registration_path, class: "primary-btn")%>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End calto-action Area -->
