<header id="header" id="home">
<<<<<<< HEAD
         <div class="container">
           <div class="row align-items-center justify-content-between d-flex">
             <div id="logo">
               <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
             </div>
             <nav id="nav-menu-container">
               <ul class="nav-menu">
                 <li class="menu-active"><a href="<%root_path%>">Home</a></li>
                 <li><a href="about-us.html">About Us</a></li>
                 <li><a href="category.html">Category</a></li>
                 <li><a href="price.html">Price</a></li>
                 <li><a href="blog-home.html">Blog</a></li>
                 <li><a href="contact.html">Contact</a></li>
                 <li class="menu-has-children"><a href="">Pages</a>
                   <ul>
                     <li><a href="elements.html">elements</a></li>
                     <li><a href="search.html">search</a></li>
                     <li><a href="single.html">single</a></li>
                   </ul>
                 </li>
                 <% if user_signed_in?%>
                    <li>
                      
                      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                      Bonjour <%= current_user.first_name %>
                  <%else%>
                       <li class="ticker-btn">
                          <%= link_to('Login', new_user_session_path)%>
                       </li>
                       <li class="ticker-btn">
                           <%= link_to('Signup', new_user_registration_path)%>
                        </li>
                  <%end%>
               </ul>
             </nav><!-- #nav-menu-container -->
           </div>
         </div>
       </header><!-- #header -->
=======
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><%= link_to "Accueil", root_path %></li>
          <li><%= link_to "À propos de nous", about_path %></li>
          <li><%= link_to "Contact", contacts_path %></li>

          <% if user_signed_in?%>
             <li>
               <%= link_to('Deconnexion', destroy_user_session_path, method: :delete, class: "ticker-btn") %>
               Bonjour <%= current_user.first_name %>
             </li>
           <%else%>
                <li>
                   <%= link_to('Compte', new_user_session_path, class: "ticker-btn")%>
                </li>
                <li>
                    <%= link_to('Inscription', new_user_registration_path, class: "ticker-btn")%>
                 </li>
           <%end%>


        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header><!-- #header -->
>>>>>>> jean
